<footer class="main-footer">
    <div class="row pt-5 mt-5 text-center">
        <div class="container">
            <p>&copy; 2023 All rights reserved - Boutique Indiana - <a asp-area="" asp-controller="Home"
                    asp-action="Privacy">@Localize("Privacy")</a></p>
        </div>
    </div>
</footer>
