<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white  mb-3">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo me-5" href="index.html"><img src="~/Images/system/Logo2.png" class="me-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/Images/system/Logo3.png" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
      </div>
        </div>
        <ul class="navbar-nav flex-grow-1 justify-content-end me-3">
          <li class="nav-item">
            <a class="nav-link " href="#">USD</a>
          </li>
        </ul>
        <partial name="_LocalPartial" />
        <partial name="_LoginPartial" />
      </div>
    </div>
</nav>

