@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<h2>@Localize("Manage your account")</h2>

<div>
    <h4>@Localize("You can use this page to manage your account.")</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
