@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>
<div>
    <h3>@Localize("customer.page.create.title")</h3>
    <h3>@Localize("Text")</h3>
    <h3>@Localize("Language")</h3>
    <h3>@Localize("Country")</h3>

</div>
