appsettings.json
SeedData.cs
/Database/*
/Viewstest/*
/bin/*
/logs/*
/obj/*
/Properties/*
/wwwroot/*
!/wwwroot/custom/*
!/wwwroot/fonts/*
!/wwwroot/sidebar/*
!/wwwroot/Images/*

!/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
!/wwwroot/lib/bootstrap-icons/dist/font/bootstrap-icons.css
!/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
!/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
!/wwwroot/lib/jquery/dist/jquery.min.js
!/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
!/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js

!/wwwroot/lib/font-awesome/dist/css/all.css

!/wwwroot/template2/vendors/feather/feather.css
!/wwwroot/template2/vendors/mdi/css/materialdesignicons.min.css
!/wwwroot/template2/vendors/ti-icons/css/themify-icons.css
!/wwwroot/template2/vendors/typicons/typicons.css
!/wwwroot/template2/vendors/simple-line-icons/css/simple-line-icons.css
!/wwwroot/template2/vendors/css/vendor.bundle.base.css
!/wwwroot/template2/vendors/js/vendor.bundle.base.js
!/wwwroot/template2/vendors/chart.js/Chart.min.js
!/wwwroot/template2/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js
!/wwwroot/template2/vendors/progressbar.js/progressbar.min.js
!/wwwroot/template2/js/off-canvas.js
!/wwwroot/template2/js/hoverable-collapse.js
!/wwwroot/template2/js/template.js
!/wwwroot/template2/js/settings.js
!/wwwroot/template2/js/todolist.js
!/wwwroot/template2/js/jquery.cookie.js
!/wwwroot/template2/js/dashboard.js
!/wwwroot/template2/js/Chart.roundedBarCharts.js


!/wwwroot/multiselect/bootstrap-select.min.css
!/wwwroot/multiselect/bootstrap.min.css
!/wwwroot/multiselect/popper.min.js
!/wwwroot/multiselect/bootstrap.min.js
!/wwwroot/multiselect/bootstrap-select.min.js
!/wwwroot/multiselect/main.js






   



