@model ProductCreateOrUpdateModel

<div class="input-group">
    <button type="button" id="addNewSpecification" class="btn btn-success input-stack-margin">
        <i class="fa fa-plus-circle"></i>&nbsp; Add new specification field
    </button>
</div>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Sort order</td>
            <td>Key</td>
            <td>Value</td>
            <td>Remove</td>
        </tr>
    </thead>
    <tbody id="specWrapper">
        @{
            int id = 0;
        }
        @if (Model.Specifications != null)
        {
            for (int i = 0; i < Model.Specifications.Count(); i++)
            {
                <tr>
                    <td>
                        <input asp-for="Specifications[i].SortOrder" class="specSortOrder" /><br />
                        <span asp-validation-for="Specifications[id].SortOrder" class="text-danger"></span>
                    </td>
                    <td>
                        <select asp-for="Specifications[i].Key" asp-items="Model.SpecificationKeySelectList" class="specKey">
                            <option value="@Guid.Empty">Select an option</option>
                        </select>
                    </td>
                    <td>
                        <textarea id="tiny" asp-for="Specifications[i].Value" class="specValue"></textarea>
                    </td>
                    <td>
                        <div class="text-center">
                            <button type="button" class="btn btn-danger remove"><i class="fa fa-close"></i></button>
                        </div>
                    </td>
                </tr>
                id++;
            }
        }
    </tbody>
</table>
