@model ProductCreateOrUpdateModel
@{
    ViewData["Title"] = ViewData["ContentHeader"] = "Add new product";
}
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Product" asp-action="Create" method="post">
            <input type="hidden" asp-for="ActiveTab" />
            <input type="hidden" id="continueEditing" name="continueEditing" value="false" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Info</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="data-tab" data-bs-toggle="tab" data-bs-target="#data" type="button" role="tab" aria-controls="data" aria-selected="false">Data</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="seo-tab" data-bs-toggle="tab" data-bs-target="#seo" type="button" role="tab" aria-controls="seo" aria-selected="false">SEO</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="image-tab" data-bs-toggle="tab" data-bs-target="#image" type="button" role="tab" aria-controls="image" aria-selected="false">Images</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="specification-tab" data-bs-toggle="tab" data-bs-target="#specification" type="button" role="tab" aria-controls="specification" aria-selected="false">Specification</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="info" role="tabpanel" aria-labelledby="info-tab"> @await Html.PartialAsync("_CreateOrUpdate_Info", Model)</div>
                    <div class="tab-pane" id="data" role="tabpanel" aria-labelledby="data-tab">@await Html.PartialAsync("_CreateOrUpdate_Data", Model)</div>
                    <div class="tab-pane" id="seo" role="tabpanel" aria-labelledby="seo-tab">@await Html.PartialAsync("_CreateOrUpdate_Seo", Model)</div>
                    <div class="tab-pane" id="image" role="tabpanel" aria-labelledby="image-tab">@await Html.PartialAsync("_CreateOrUpdate_Images", Model)</div>
                    <div class="tab-pane" id="specification" role="tabpanel" aria-labelledby="specification-tab">@await Html.PartialAsync("_CreateOrUpdate_Specification", Model)</div>
                </div>
            </div> <!-- nav tabs custom end -->
            <div class="form-group">
                
            </div>

            <button type="submit" class="btn btn-primary">Create</button>

            <a asp-action="List" class="btn btn-default">Cancel</a>
        </form>
    </div> <!-- col md 12 end -->
</div> <!-- row end -->

<div>
    <a asp-action="Index">Back to List</a>
</div>
@await Html.PartialAsync("_ImageManagerModal")


@section Scripts {
    
    @* <script>
        $(document).ready(function () {
            $('select').selectpicker();
        });
    </script> *@
       
   @*  <script>
        var tabEl = document.querySelector('button[data-bs-toggle="tab"]')
        tabEl.addEventListener('shown.bs.tab', function (event) {
            event.target // newly activated tab
            event.relatedTarget // previous active tab
        })
    </script> *@

   @*  <script>
        var firstTabEl = document.querySelector('#myTab li:last-child a')
        var firstTab = new bootstrap.Tab(firstTabEl)

        firstTab.show()
    </script> *@

}
