
@{
    ViewData["Title"] = "Index";
}

<h1>Test-Image-Index</h1>

<div>
    <h3>@Localize("customer.page.create.title")</h3>
    <h3>@Localize("Text")</h3>
    <h3>@Localize("Language")</h3>
    <h3>@Localize("Country")</h3>

</div>

